.form-group.row {
  margin-top: 0;
  margin-bottom: 0;
}

.col-sm-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.col-form-label {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
